# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#

*~
sketch.properties

# Applications products
*.mp4
*.txt
*.log
*.png
*.xls*
*.zip


# compiler-generated binaries (safe to delete)
*.exe



